version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: dev_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - dev_shared

networks:
  dev_shared:
    external: true